<mat-spinner *ngIf="loading"></mat-spinner>
<form [formGroup]="loginForm" *ngIf="!loading">
  <mat-form-field appearance="fill" class="form-group">
    <mat-label for="email">Email</mat-label>
    <input matInput type="email" id="email" formControlName="email" />
    <mat-hint>Add your email</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-group">
    <mat-label for="password">Password</mat-label>
    <input
      matInput
      type="{{ showPassword ? 'text' : 'password' }}"
      id="password"
      formControlName="password"
      autocomplete="off"
    />
    <button mat-icon-button matSuffix (click)="toggleShowPassword()">
      <mat-icon>{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon>
    </button>
    <mat-hint>Add your password</mat-hint>
  </mat-form-field>
  <button
    type="button"
    matRipple
    [matRippleColor]="redColor"
    mat-raised-button
    color="primary"
    [disabled]="loginForm.invalid"
    (click)="onLogin()"
    style="overflow: hidden"
    class="log-btn"
    [ngClass]="{'dark-mode': darkModeService.isDarkMode}"
  >
    LOGIN
  </button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>
