<nav [ngClass]="{'dark-mode': darkModeService.isDarkMode}" >
  <div class="left-nav">
    <ul>
      <li *ngIf="isAuth$ | async">
        <a
          routerLink="products"
          routerLinkActive="active"
          *ngIf="isAuth$ | async"
        >
          All Technologies
        </a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a
          routerLink="new-product"
          routerLinkActive="active"
          *ngIf="isAuth$ | async"
        >
          Add a Google Technology
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-text">
      <h3 aria-label="Products Google" class="animated-headline__headline">
        <br />G<div class="animated-headline__icons-container">
          <img
            src="https://lh3.googleusercontent.com/jUoaTIlBn5ibfQcND2n5OMD6Z7xoqNj-ShHlFR6QuLffLXD5pS8V2eNg1rGlrsRrnDkoQ28O8UHzqzBQKAGY4l1CS2NQSq2SkRScK6FOjl82jppyohK-"
            aria-hidden="true"
            class="animated-headline__icon loaded"
          />
          <img
            src="https://lh3.googleusercontent.com/PtL9QBP58JZC0A0k1u4fSn-rXbpaG52216P0l4ydM3c21L78uPPad73jY6ngd2tS-qu8Ec7jV_oxz8wK70fhBxYrffuWUGmuh-HfMyUsfUJSPQzGuCOW"
            aria-hidden="true"
            class="animated-headline__icon loaded"
          />
        </div>g<div class="animated-headline__icons-container"><img
          src="https://lh3.googleusercontent.com/p4M1mK1Lbtc2tt54b6JUQUJ5U8RcwHnEAPH7_87X2NH9Rc8N9ek0Xm2BUq_wmLuOWXlylcDlZFOg4xF3aQtwsyF9frOHoqiQdWVpG-v4VO-Jb_4lIQ"
          aria-hidden="true"
          class="animated-headline__icon loaded"
        /></div>e Products<br />
      </h3>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li *ngIf="!(isAuth$ | async)">
        <a
          routerLink="signup"
          routerLinkActive="active"
          *ngIf="!(isAuth$ | async)"
        >
          Sign Up
        </a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a
          routerLink="login"
          routerLinkActive="active"
          *ngIf="!(isAuth$ | async)"
        >
          Login
        </a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a (click)="onLogout()" *ngIf="isAuth$ | async"> Logout </a>
      </li>
    </ul>
  </div>
</nav>
<div class="sub-nav" [ngClass]="{'dark-mode': darkModeService.isDarkMode}" >
  <div class="dark-mode-toggle">
    <span class="material-icons material-symbols-outlined" [ngClass]="{'dark-mode-icon': darkModeService.isDarkMode}">
      {{ darkModeService.isDarkMode ? 'dark_mode' : 'wb_sunny' }}
    </span>
    <p>DARK MODE</p>
    <mat-slide-toggle
      (change)="toggleDarkMode()"
      [checked]="darkModeService.isDarkMode"
      [disabled]="false"
    ></mat-slide-toggle>
  </div>
  <ul>
    <li *ngIf="(isAuth$ | async)">
      <a
        routerLink="products"
        routerLinkActive="active"
        *ngIf="(isAuth$ | async)"
      >
        Listing all Google Tech Products
      </a>
    </li>
  </ul>
  <ul>
    <li *ngIf="(isAuth$ | async)">
      <a
        routerLink="chronology-slider"
        routerLinkActive="active"
        *ngIf="(isAuth$ | async)"
      >
        Chronology Release Date
      </a>
    </li>
  </ul>
</div>
