<nav [ngClass]="{'dark-mode': darkModeService.isDarkMode}" >
  <div class="left-nav">
    <ul>
      <li *ngIf="isAuth$ | async">
        <a
          routerLink="products"
          routerLinkActive="active"
          *ngIf="isAuth$ | async"
        >
          All Events
        </a>
      </li>
      <li *ngIf="(isAuth$ | async) && (isAdmin$ | async)">
        <a
          routerLink="new-product"
          routerLinkActive="active"
          *ngIf="isAuth$ | async"
        >
          Add an Event
        </a>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="logo-text">
      <h3 aria-label="Products Google" class="animated-headline__headline">
        <br />Events and Chronologies<br />
      </h3>
    </div>
  </div>
  <div class="right-nav">
    <ul>
      <li *ngIf="!(isAuth$ | async)">
        <a
          routerLink="signup"
          routerLinkActive="active"
          *ngIf="!(isAuth$ | async)"
        >
          Sign Up
        </a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a
          routerLink="login"
          routerLinkActive="active"
          *ngIf="!(isAuth$ | async)"
        >
          Login
        </a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a (click)="onLogout()" *ngIf="isAuth$ | async"> Logout </a>
      </li>
    </ul>
  </div>
</nav>
<div class="sub-nav" [ngClass]="{'dark-mode': darkModeService.isDarkMode}" >
  <div class="dark-mode-toggle">
    <span class="material-icons material-symbols-outlined" [ngClass]="{'dark-mode-icon': darkModeService.isDarkMode}">
      {{ darkModeService.isDarkMode ? 'dark_mode' : 'wb_sunny' }}
    </span>
    <p>DARK MODE</p>
    <mat-slide-toggle
      (change)="toggleDarkMode()"
      [checked]="darkModeService.isDarkMode"
      [disabled]="false"
    ></mat-slide-toggle>
  </div>
  <ul>
    <li *ngIf="(isAuth$ | async)">
      <a
        routerLink="products"
        routerLinkActive="active"
        *ngIf="(isAuth$ | async)"
      >
        Listing all Events
      </a>
    </li>
  </ul>
  <ul>
    <li *ngIf="(isAuth$ | async)">
      <a
        routerLink="realtime-chronology"
        routerLinkActive="active"
        *ngIf="(isAuth$ | async)"
      >
        Yearly Chronology
      </a>
    </li>
  </ul>
</div>
