<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="products$ | async as products" matRipple>
  <p *ngIf="!loading && products.length <= 0">No products to display!</p>
  <br />
  <mat-paginator
    [ngClass]="{ 'dark-mode': darkModeService.isDarkMode }"
    [length]="totalProducts$ | async"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChange($event)"
    aria-label="Select page"
    color="primary"
    >
  </mat-paginator>
  <br />
  <app-search-bar
    [ngClass]="{ 'dark-mode': darkModeService.isDarkMode }"
  ></app-search-bar>
  <div class="product-list" *ngIf="!loading && products.length > 0">
    <div
      class="product-list-item"
      [ngClass]="{ 'dark-mode': darkModeService.isDarkMode }"
      *ngFor="let product of products"
      (click)="onClickProduct(product._id)"
    >
      <img alt="ProductImage" [src]="product.imageUrl" />
      <h4>{{ product.name }}</h4>
      <p>{{ product.category }}</p>
      <hr />
      <p>{{ product.likes }} likes</p>
      <p>{{ product.dislikes }} dislikes</p>
    </div>
  </div>
</ng-container>
<button class="add-new" (click)="onAddNew()" mat-fab extended>
  <mat-icon>add</mat-icon>
</button>
