<mat-spinner *ngIf="loading"></mat-spinner>
<section>
  <h2 class="list-title">
    Chronology of the release date of Google technologies!
  </h2>
  <p class="list-paragraph">When the thumb is selected, you can use the arrows of your keyboard to switch between months</p>
  <br />
  <div class="container">
    <mat-slider
      #slider
      (change)="onSliderChange($event)"
      class="slider"
      [min]="0"
      [max]="this.allMonths.length - 1"
      step="1"
      showTickMarks
      discrete
    >
      <input matSliderThumb #sliderThumb />
      <div class="track-container">
        <div *ngFor="let index of productMonthIndices">
          <div
            class="circle"
            [style.left]="((index / (this.allMonths.length - 1)) * 100) + '%'"
          ></div>
        </div>
      </div>
    </mat-slider>
  </div>
  <br>
  <div class="container" *ngFor="let product of products">
    <div [style.display]="formatDBDate(product.dbDate) === selectedMonth ? 'block' : 'none'">
      <mat-card class="description-card" [ngClass]="{ 'dark-mode': darkModeService.isDarkMode }">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle [ngClass]="{ 'dark-mode': darkModeService.isDarkMode }">{{ product.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}">
        <mat-card-content>
          <p>{{ product.description }}</p>
          <p>Launched in {{ product.dbDate }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
