.container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  min-height: 50vh;
  margin: auto;
  margin-bottom: 0%;
}

footer {
  margin-top: 50px;
  height: 250px;
}

.footer {
  box-sizing: border-box;
  z-index: 0;
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 250px;
  padding: 30px 10% !important;
  display: flex;
  background-color: #673ab7;
  color: white;
}

.footer::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: url(../assets/images/angular_whiteTransparent_withMargin.png) top 0 left 0 repeat,
    url(../assets/images/angular_whiteTransparent_withMargin.png) top 80px left 160px repeat;
  opacity: 0.05;
  background-size: 320px auto;
}

/* styles for dark mode */
.dark-mode {
  background-color: #3d3d3d;
  color: #fff;
}

.dark-mode .footer {
  background-color: #222;
}

.tick-marker .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4285f4;
  margin-top: 4px;
}

.dark-mode .tick-marker .circle {
  background-color: #fff;
}

